env/
.venv/
__pycache__/
.DS_Store
data/raw/*
!data/raw/*.dvc
!data/raw/.gitignore
creds.json

# --- Artifacts & Logs ---
data/diagnostics/
*.png
*.log

# --- Python / IDE ---
*.pyc
*.pyo
.ipynb_checkpoints/
.vscode/
.idea/
data/diagnostics/

# --- MLflow ---
mlruns/
mlflow.db
